footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #001e51;
  color: white;
  padding: 70px 20px 20px;
  gap: 70px;
}

.footer__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 120px;
}

.footer__item {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.footer__logo {
  max-width: 10rem;
}

.footer__detail__dealertouch {
  max-width: 25rem;
}

.footer__title {
  font-size: 20px;
  font-weight: 600;
}

.footer__link {
  display: flex;
  flex-direction: column;
}

.footer__link a {
  color: inherit;
}

.footer__contact__button {
  padding: 10px 20px;
  max-width: 110px;
  background-color: white;
  border-radius: 50px;
  border: none;
  font-weight: bold;
  transition: background-color var(--transition-fast);
  cursor: pointer;
}
.copy__right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.footer__line {
  width: 100%;
  max-width: 1459px;
  height: 1px;
  background-color: white;
  margin-inline: auto;
}

.copy__right__text {
  font-size: 12px;
}
